<h2>-----------------サイトヘッダ--------------</h2>
<%if signed_in? %>
    <p>サインインしていますね</p>
    <p>
    ------------------------------------------------------<br>
    ログインしているユーザーの名前[ <%="#{current_user.name}"%> ] <br>
    E-mail:[<%="#{current_user.email}"%>] <br>
    userID:[<%="#{current_user.id}"%>]<br>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <br>
------------------------------------------------------
</p>
<% else %>
    <p>サインインしていませんね</p>
<% end %>
<h2>------------------------------------------</h2>